@model IEnumerable<RPm_Gackan1.Models.Cart>

@{
    ViewData["Title"] = "Корзина";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    body {
        background-color: #FFF8D6; 
    }
</style>

@if (!Model.Any())
{
    <div class="alert alert-info text-center" role="alert">
        Корзина пуста
    </div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Количество</th>
                <th>Цена за единицу</th>
                <th>Общая стоимость</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Cataloge.ProductName</td>
                    <td>
                        <form asp-action="EditQuantityCart" method="post" class="form-inline">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="CatalogId" value="@item.CatalogeId" />
                            <input type="number" name="quantity" value="@item.Quantity" min="1" max="@item.Cataloge.Quantity" class="form-control form-control-sm" style="width: 80px;" />
                            <button type="submit" class="btn btn-sm btn-primary ml-2">Обновить</button>
                        </form>
                    </td>
                    <td>@item.Cataloge.ProductPrice ₽</td>
                    <td>@item.Price ₽</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">Итого:</td>
                <td>@(Model.Sum(x => x.Price)) ₽</td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center mt-3">
        <a asp-action="Cart" class="btn btn-success">Оформить заказ</a>
    </div>

}


